.card {
  margin-top: 20px;
  border: 1px solid #f100e5;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 250px; /* Largura máxima para cada cartão */
  box-shadow: 0 0 5px rgba(219, 9, 226, 0.2);
  text-align: center;
  background-color: #fff;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.card p {
  font-size: 1rem;
  color: #333;
}

.listaprodutos {
  display: flex;
  flex-wrap: wrap;
  margin: 110px;
  justify-content: space-between;
  
}
